/* PasswordValidator.css */

.password-validator {
  position: relative;
}

.password-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.info-icon {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 5px;
}

.info-icon:hover + .password-tooltip {
  display: block;
}
